.AboutCard{
    width: 100vw;
    overflow-x: hidden;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgb(0, 0, 0); */
    align-items: center;
}

.AboutCard-title{
    font-size: 4rem;
    font-weight: 800;
    font-family: 'Roboto mono', monospace;
    margin-bottom: 1rem;
    color: var(--blue-dark);
}

.AboutCard-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


.About_card{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

.About_card:nth-of-type(even){
    flex-direction: row-reverse;
}
.About_card:nth-of-type(even) .AboutCard-img{
    margin: 0 0 0 50px;
}

.AboutCard-img{
    width: 500px;
    min-width: 200px;
    margin: 0 50px 0 0;
}

.imgs{
    object-fit: cover;
    width: 100%;
}

.small{
    width: 100px;
}

.AboutCard-item-title{
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Roboto mono', monospace;
    margin-bottom: 0.6rem;
    color: var(--blue-darker);
}



.AboutCard-item-desc{
    width: 500px;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Roboto mono', monospace;
    margin-bottom: 1rem;
    color: var(--blue-dark);
}

.desc-small{
    width: 200px;
}

@media (max-width : 800px){
    .AboutCard{
        margin-top: 5rem;
    }
    .AboutCard-title{
        font-size: 3rem;
    }
    .AboutCard-container{
        width: 90%;
    }
    .AboutCard-item-title{
        font-size: 1.5rem;
    }
    .AboutCard-item-desc{
        width: 400px;
        font-size: 1rem;
    }
    .AboutCard-img{
        width: 60%;
        margin: 0;
    }
    .About_card{
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    .About_card:nth-of-type(even){
        flex-direction: column;
    }
    .About_card:nth-of-type(even) .AboutCard-img{
        margin: 0;
    }
}