.get-started{
    display: flex;
    z-index: 2;
}

.getStarted{
    padding: 10px 20px;
    font-size: 1.7rem;
    background-color: var(--blue-dark);
    border: none;
    border-radius: 5px;
    margin-bottom: 5rem;
    margin-top: 2rem;
    cursor: pointer;
    margin: 2rem auto;
    z-index: 2;
}

.getStarted a{
    text-decoration: none;
    color: var(--text-color-invert);
}

.getStarted :hover{
    color: var(--text-color-invert);
}

