.header{
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #034971;
    height: 60px;
    border-bottom: 1px solid var(--text-color);
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 0  0.2rem 4rem ;
    box-sizing: border-box;
}

.header-title{
    font-size: 2rem;
    font-weight: 500;
    /* margin: 0.5rem auto; */
    text-align: center;
    color: #fff;
}

.header-right{
    display: flex;
    align-items: center;
    width: 20%;
}
