.side-panel-but {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    background-color: var(--body-background);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.8rem;
    /* border-radius: 0 5px 5px 0; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}

.side-panel-but-icon {
    font-size: 1.8rem;

}

.panel-icon {
    color: var(--text-color);
}